<app-tabs></app-tabs>

<div>
    <!-- <h1>Child-2 component</h1>
    <app-child2 [data]="productList" [itemTemplate]="customItemTemplate">
      <ng-template #customItemTemplate let-item>
        <div style="display: flex; justify-content: space-between; padding: 0.5rem 0;">
          <span>
            {{ item.id }} - <b>{{ item.name }}</b>
          </span>
          <div>Stars: {{ item.rating }}</div>
        </div>
      </ng-template>
    </app-child2>
  
    <h1>Child-1 component (string)</h1>
    <app-child1 [title]="'Hello there'">
      <p>i'm an awesome card.</p>
    </app-child1>

    <h1>Child-1 component (templateRef)</h1>

    <app-child1 [title]="title">
      <ng-template #title> <h2>Hello there</h2> </ng-template>
      <p>i'm an awesome card.</p>
    </app-child1> -->
</div>

<router-outlet></router-outlet>